.App {
    text-align: center;

    display: flex;

    /* align-items: center; */
    /* justify-content: space-between; */
}

main {
    /* Equal to navbar width */
    margin-left: var(--nav-width);
    padding: 64px 0;

    height: 200vh;
    width: 100%;

    display: flex;
    gap: 2rem;
    flex-direction: column;

    align-items: center;
    /* justify-content: center; */

    /* background: orchid; */
    background: var(--main-clr);
    /* 
    overflow: auto; */
    /* overflow-x: hidden; */
}

section {
    padding: 1rem;

    width: var(--main-content-width);

    outline: 1px solid black;
}
