.App {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

main {
    /* Equal to navbar width */
    margin-left: var(--nav-width);
    padding: 64px 0;

    height: 200vh;
    width: calc(100vw - var(--nav-width));
    /* max-width: var(--main-content-width); */

    display: flex;
    gap: 2rem;
    flex-direction: column;

    align-items: center;
    /* justify-content: center; */

    /* background: orchid; */
    background: var(--main-clr);
    /* 
    overflow: auto; */
    /* overflow-x: hidden; */
}

section {
    /* margin: 1rem; */
    padding: 1rem;
    width: 80%;
    /*  max-width: var(--main-content-width); */
    display: flex;
    /* align-items: center; */
    justify-content: center;

    /*  outline: 1px solid black; */
}

.display {
    flex: 1;
}

.display > img {
    width: 100%;
    max-width: 1140px;
    height: auto;
}
