.App {
    text-align: center;

    display: flex;

    flex-direction: column;
    justify-content: center;
}

.App-header {
    font-size: 2rem;

    height: 96px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: greenyellow;
    background: #282c34;
}

main {
    height: calc(100vh - 96px);
    max-width: 1140px;

    /* Center */
    margin: 0 auto;
    padding: 4rem 3rem;

    /* display: flex; */
    /* align-items: center;
    justify-content: center; */

    background: palegoldenrod;
}

.clock-grid {
    display: grid;

    gap: 1rem;

    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);

    grid-template-areas:
        "c1 c2"
        "c3 c4"
        "c5 c6";
}
