.main-container {
    /* background: red; */
    height: 100%;

    padding: 2rem;

    display: flex;

    align-items: center;
    justify-content: center;
}

.main-grid {
    width: 100%;
    height: 100%;

    gap: 1rem;
    place-items: center;

    background: yellow;
}

@media screen and (max-width: 900px) {
    .main-container {
        padding: 0;
    }

    .main-grid {
        grid-template-columns: auto;
    }
} ;
